@page "/addemployee"
@using SP_CRUD.Data
@inject EmployeeServices employeeservice
@inject NavigationManager NavigationManager

<h3>Add Employee</h3>
<hr />

<EditForm Model="@empobj" OnValidSubmit="@createemp">
    <DataAnnotationsValidator />

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="name" class="control-label">Name</label>
                <input form="name" class="form-control" @bind=@empobj.emp_name />
                <ValidationMessage For="@(()=>empobj.emp_name)" />
            </div>
            <div class="form-group">
                <label for="designation" class="control-label">Designation</label>
                <input form="designation" class="form-control" @bind=@empobj.emp_designation />
                <ValidationMessage For="@(()=>empobj.emp_designation)" />

            </div>
            <div class="form-group">
                <label for="salary" class="control-label">Salary</label>
                <input form="salary" class="form-control" @bind=@empobj.emp_salary />
                <ValidationMessage For="@(()=>empobj.emp_salary)" />
            </div>
        </div>
    </div>
    <ValidationSummary />
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Save" />
                <input type="button" class="btn btn-danger" onclick="@cancel" value="Cancel" />
            </div>
        </div>
    </div>
</EditForm>


@code {
    EmpModel empobj = new EmpModel();

    private void createemp(EditContext context)
    {
        Console.WriteLine("Enter the employee");
        employeeservice.CreateEmp(empobj);
        NavigationManager.NavigateTo("allemployees");
    }

    void cancel()
    {
        NavigationManager.NavigateTo("allemployees");
    }
}
